body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Estilos para los botones */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #3e8e41;
}

/* Estilos para los campos de entrada y la etiqueta */
label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Estilos para el resultado */
#resultado {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
